*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contenido{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: rgb(255, 255, 255);
}

.inicio{
position: absolute;
left: 0px;
top: 0px;
}

.header{
    font-weight: 700;
    color: aliceblue;
    font-family:monospace;
    font-size:20px;
    text-align: center;
    position: fixed;
    padding: 20px 0;
    background-color: rgb(35, 84, 190);
    top: 0;
    width: 100%;
    -webkit-box-shadow: inset 0px 0px 30px 1px black;
            box-shadow: inset 0px 0px 30px 1px black;
}
body{
    padding-top: 70px;
    background-color: aquamarine;
}

.title-1{
    margin: 0px;
    padding-bottom: 0px;
}

.marca, .marca-2{
    background-color: beige;
    border: solid 5px;
    border-color: crimson;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-top: 5px;
    width: 690px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: 5px solid darkgreen;

}

.marca-2{
    border-radius: 30px / 60px;
    border: dashed 5px red;
    margin-top: 50px;
    outline: inset 10px rgb(211, 99, 24);
    outline-offset: 6px;
    text-align: justify;
    margin-bottom: 50px;
}
.inline{
    background-color: aliceblue;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
width: 150px;
border: solid 3px rebeccapurple;

}

/*BOX - SHADOW - clon caja */

.marca{
    -webkit-box-shadow: 15px 15px 10px;
            box-shadow: 15px 15px 10px;
}
.inline{
    -webkit-box-shadow: 5px 5px 8px royalblue;
            box-shadow: 5px 5px 8px royalblue;
}
.marca-2{
    -webkit-box-shadow: inset 0px 0px 20px 0px red;
            box-shadow: inset 0px 0px 20px 0px red;
}

/* position - posicionar los elementos */

.box{
    width: 100px;
    height: 100px;
}
.container{
    width: 200px;
    height: 200px;
    background-color: rosybrown;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 5px;
            box-shadow: 0px 0px 10px 5px;
}

.box-1,.box-2{
    background-color: blueviolet;
    position: absolute;
    top: 100px;
    left: 100px;
    -webkit-box-shadow: inset 0px 0px 10px 0px blue;
            box-shadow: inset 0px 0px 10px 0px blue;
    text-align: center;
    padding-top: 40px;

}
.box-2{
    top: 0px;
    left: 0px;
    background-color: blue;
    -webkit-box-shadow: inset 0px 0px 10px 0px red;
            box-shadow: inset 0px 0px 10px 0px red;
}


