<%- include('template/cabecera',{titleWeb: title})%>

    <link rel="stylesheet" href="/css/sombras-border-etc.css">

</head>
<body>
    <!-- menu -->
    <%- include('template/navbar')%>
    
    <section>
    <h3 >Object-fit, object-position y filter()</h3>
    <ul>
        <li>object-fit:</li>
        <p>se usa para especificar como se debe cambiar el tamaño de < img> o < video> para que se ajuste a un contenedor</video></p>
        <ol><li>fill; la imagen se ajusta al contenedor pero se deforma</li>
            <li>cover; la imagen se ajusta al contenedor sin deformarse</li>
            <li>contain; la imagen se ajusta al contedor sin perder sus proporciones</li>
        </ol>
        <br>
        <li>object-position</li>
        <p>posiciona la imagen cuando esta no se encuentra completa</p>
        <li>filter:</li>
        <ol>
            <li>blur(); Desenfoca la imagen</li>
            <li>brightness(%); Brillo a la imagen</li>
            <LI>contrast(%)</LI>
            <li>drop-shadow(h-shodow v-shodow blur "spread" color); sombra a la imagen</li>
            <li>grayscale(0 a 1); blanco y negro</li>
            <li>hue-rotate(grado(deg)); aplica tono en color a la imagen </li>
            <li>invert(0 a 1); invertir el color de la foto</li>
            <li>opacity(0 a 1); transparencia a la imagen </li> 
            <li>saturate(); saturar la foto</li>
            <li>sepia(0 a 1);</li>
        </ol>
    </ul>
        <img src="/Logo/dainerys.jpg" class="img">
        <img src="/Logo/dainerys2.jpg" class="img2">

        <br><h3>clip-path</h3>
        <p>Es una mascara que oculta parte de una caja</p>
        <ul>
            <li>circle(): Dibuja un circulo</li>
            <li>ellipse(): dibuja un ellipse</li>
            <li>inset(): dibuja un border transparente por dentro de la caja</li>
            <li>polygon(): dibuja un poligono</li>
        </ul>
        <div class="box">
            <div class="box_item">
                <div class="box_item2"></div>
            </div>
        </div>
        <h3>box-shdow</h3>
        <p>crea una sombra del tamaño de la caja</p>
        <ul>
            <LI>inset; se dibuja por dentro</LI>
            <li>outset; se dibuja por fuera</li>
        </ul>
        
            <div class="box_shadow"></div>
               <h1 class="text_shadow">Text Shadow</h1> 
        
           <br>
           <h3>Degradados</h3>
           <div class="box_degradados"></div>
           <h3>Flexbox</h3>
           <ul>
            <li>display:flex;</li>
            <p>Convierte el contenedor en un contexto para flexbox y hace que el contenedor sea un elemento de bloque para los elementos que lo rodean</p>
               <li>display:inline-flex;</li>
               <p>Convierte el contenedor en un contexto para flexbox y hace que el contenedor sea un elemento en linea para los elementos que lo rodean</p>
               <li>flex-direction:</li>
               <p>Modifica la direccion y cual es el eje principal</p>
               <p>valores - row(defaul) | row-reverse | column | column-reverse</p>
               <li>flex-wrap:</li>
               <P>controla si los elementos saltanran de linea o no</P>
               <p>valores - no-wrap | wrap | wrap-reverse</p>
           </ul>
           <div class="flex-container">
               <div class="flex-item">1</div>
               <div class="flex-item">2</div>
               <div class="flex-item">3</div>
               <div class="flex-item">4</div>
               <div class="flex-item">5</div>
           </div>
           <ul>
               <li>Alinamiento</li>
               <p>Estas propiedades para alinear se aplican SIEMPRE al flex-container<br>
            Exisnten propiedades para el main-axis y para el cross-axis</p>
            <li>main-axis:</li>
            <ul>
                <li>justify-content:</li>
                <p>valores - flex-start(default) | center | space-between | space-around | space-evenly | flex-end</p>
            </ul>
            <li>cross-axis:</li>
            <ul>
                <li>alig-items: una sola linea</li>
                <li>alig-content: varias lineas</li>
            <p>valores - flex-start | center | flex-end | stretch(default) | baseline</p>
            <li>alig-self: se aplica al flex-item. sirve para alinear un elemento en concreto en el cross.axis</li>
            </ul>
            </ul>
            <div class="flexbox">
                <div class="text-flexbox"><ul>
                    <li>Existen dos ejes para colocar y alinear elementos.</li><br>
                    <li>por defecto el eje principar es horizontal y de izquierda a derecha y el eje sucundario es vertical de arriba a abajo</li><br>
                    <li>Se puede intercambiar los ejes y la dirrecion de ambos</li>
                </ul></div>
                <img  class="img-flexbox" src="/Logo/cross.main.png">
            </div>
            <h3>Propiedad Flex</h3>
            <p>Es un shorthand que engloba las siguientes propiedades.<br>
            Todas las medidas se establecen en funciones del espacio disponible en el contenedor.</p>
            <ul>
                <li>flex-grow: - Establece que hacer cuando hay espacio sobrante, cuantas diviciones cage el elemento. valor de 0 a N o auto</li>
                <br><li>flex-shrink: - Establece que hacer cuando no hay espacio suficiente, cunatas diviciones pierde el elemento. valor de 0 a N</li>
                <br><LI>flex-basis: Establece cunato tiene que ocupar el item antes de escojer o estenderse</LI>
                <br><li>order: - Establece que orden ocupara el elemento en el contenedor flex. El valor es el "peso" respecto a los valores que tengan los otros elementos. por defecto es 0</li>
            </ul>
            <div class="flex-container2">
                <div class="flex-item2">1</div>
                <div class="flex-item2">2</div>
                <div class="flex-item2">3</div>
                <div class="flex-item2">4</div>
            </div>
            <h3>grid</h3>
           <P>- Es un modelo de layout que permite construir grillas o cuadriculas dinamicas. Es un valor de la propiedad desplay.</P>
           <p>- Al igual que con flexbox, tenemos display:grild y display: inline-grid.</p>
           <p>- Se necesita un contenedor (grid-container) y al menos un hijo (grid-item)</p>
           <p>- Las celdas son los items, el contenedor es el contexto al que pertenecen los items</p>
           <ul>
               <li>Grld column: Es cada columna de nuestra cuadricula.</li>
               <br> <li>Grid row: Es cada fila de nuestra cuadricula.</li>
               <br> <li>Grid cell: Es cada celda de nuestra cuadricula.</li>
               <br> <li>Grid gap: Es la separacion en celdas.</li>
               <br> <li>Grid line: Existen column lines y row lines, son las lineas que delimitan cada columna / fila respectivamente.</li>
           </ul>
           <div class="flexbox">
            <div class="text-flexbox"><ul>
                <li>En Grid cada celda es dinamica y el recto de la cuadricula se adacta.</li><br>
                <li>Podemos decir donde empieza cada celda y donde acaba, tanto en columna como en fila.</li><br>
                <li>Sus posibilidades son inmensas.</li>
            </ul></div>
            <img  class="img-flexbox" src="/Logo/grid.png">
        </div>
        <div class="grid-container">
            <div class="grid-item">A</div>
            <div class="grid-item">B</div>
            <div class="grid-item">C</div>
            <div class="grid-item">D</div>
            <div class="grid-item">E</div>
            <div class="grid-item">F</div>
            <div class="grid-item">G</div>
            <div class="grid-item">H</div>
            <div class="grid-item">I</div>
        </div>
        <ul>
            <li>Funcion repeat(); - Podemos establecer repeticones de medidas o patrones</li>
            <br><li>grid-auto.columns: - Establece que hacer con las columnas no definidas</li>
            <br><li>grid-auto.rows: - Establece que hacer con las filas no definidas</li>
            <br><li>grid-auto-flow: - Establece la direccion en la cual se va a pintar el implicit grid. Admite 3 valores:</li>
            <ol>
                <br><li>row(default): - Se crearan filas adicionales</li>
                <br><li>column: - Se crearan columnas adicionales.</li>
                <br><li>dense: - Establece que hacer con los huecos que quedan.</li>
            </ol>
        </ul>
        
    </section>
</body>
</html>