<%- include('template/cabecera',{titleWeb: title})%>

    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <%- include('template/navbar')%>
    <div class="block_1">
        <p class="marca">
            fatal error: failed to connect with local steam client process
<br>
            please make sure that you are running latest version of the steam client and launch the game from steam
<br>        
            you can check for steam client updates using steam main menu
            steam - check for steam client updates</p>
    </div>
    <div class="block_2">
        <p class="marca-2">
            fatal error: failed to connect with local steam client process
<br>
            please make sure that you are running latest version of the steam client and launch the game from steam
<br>        
            you can check for steam client updates using steam main menu
            steam - check for steam client updates</p>
    </div>
    <a href="#" class="inline">position of elements</a>

    <div class="container">
        <div class="box box-1">BOX 1</div>
        <div class="box box-2">BOX 2</div>
    </div>
    
    
</body>
</html>