<nav class="nav">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars"></i>
    </label>
    <a href="#" class="enlace">
        <img alt="" class="logo" src="/Logo/logoCSS.png"> 
    </a>
    <ul class="menu">
        <li><a class="active" href="/">Inicio</a></li>
        <li><a class="Contenido">Contenido</a>
            <ul class="subMenu">
                <li><a href="/tipografia">Tipografia</a></li>
                <li><a href="/variables_background">Background</a></li>
                <li><a href="/position">Position</a></li>
                <li><a href="/styles">Box</a></li>
                <li><a href="/pseudoclases">PseudoClases</a></li>
                <li><a href="/pseudoelmentos">PseudoElementos</a></li>
            </ul>  
        </li>
        <li><a href="#">Acerca De.</a></li>
        <li><a href="#">Mucho Mas</a></li>
    </ul>
</nav>